/*import fonts from cdn*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/*Global classes*/
*:not(i) {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--primary-bg);
}
section {
  min-height: 80vh;
}
.main-content {
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.title {
  text-transform: capitalize;
  font-weight: bold;
}
.title span {
  color: var(--primary-text);
  font-weight: bold;
}
/*button style*/
.primary_btn {
  background-color: var(--primary-text);
  color: var(--white-text);
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.primary_btn:hover {
  background-color: transparent;
  border-color: var(--primary-text);
  color: var(--primary-text);
}
/*-------Form style----------*/
.form-area {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  min-height: 80vh;
}
.form-area form {
  flex-direction: column;
  padding: 1rem;
  box-shadow: var(--primary-shadow);
  border-radius: 10px;
  max-width: 500px;
}
.form-area form h2 {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.form-area form .input-box {
  margin-bottom: 0.5rem;
}
.form-area form .input-box label {
  color: var(--black-text);
  font-size: 0.7rem;
}
.form-area form .input-box label span {
  color: var(--primary-text);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: -5px;
}
.form-area form .input-box input,
.form-area form .input-box textarea,
.comment-form input {
  padding: 5px;
  border-radius: 10px;
  border: none;
  border: 1px solid var(--gray-text);
}
.form-area form .input-box input:focus,
.form-area form .input-box textarea:focus,
.comment-form input:focus {
  border: 1px solid var(--primary-text);
}
.form-area form .input-box input[type='file'] {
  border: none;
}
