:root {
  --primary-bg: #fff;
  --secondary-bg: #ecf0f1;
  --primary-text: #00cec9;
  --white-text: #fff;
  --black-text: #2c333a;
  --gray-text: #878f99;
  --primary-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
