:root {
  --primary-bg: #fff;
  --white-text: #fff;
  --black-text: #2c333a;
  --gray-text: #878f99;
  --primary-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
body.dark {
  --primary-bg: #2c333a;
  --white-text: rgb(44, 42, 42);
  --black-text: #f6f6f6;
}
